/* red-hat-display-regular - latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-display-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/red-hat-display-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-display-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-display-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-display-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-display-v11-latin-regular.svg#RedHatDisplay') format('svg'); /* Legacy iOS */
}
/* red-hat-display-700 - latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/red-hat-display-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/red-hat-display-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-display-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-display-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-display-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-display-v11-latin-700.svg#RedHatDisplay') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion Regular.ttf') format('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion Medium.ttf') format('ttf');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion SemiBold.ttf') format('ttf');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion Bold.ttf') format('ttf');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}