html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	margin: 0;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}

.center{
	text-align: center;
}

.yellow{
	background-color: #FAF8F0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit; 
	text-decoration: none;
}

img {
	max-width: 100%;
}