.book {
    padding-top: 100px;
    padding-bottom: 90px;
}

.wrapper {
}

.block-orange {
    background-color: #E08631;
    width: 42px;
    height: 8px;
    margin: 0 auto;
}

.book__orange{
    margin-bottom: 32px;
}

.wrapper-book {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.book-left{
    max-width: 360px;
    margin-right: 40px;
}

.book-right {

}

.book__text-right{
    margin-bottom: 50px;
}

.book__text {
    font-size: 14px;
    line-height: 20px;
    max-width: 360px;
}

.book__button {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

    padding: 11px 18px;
    background: #52503B;
    border-radius: 6px;
    display: inline-block;
    transition: 0.1s all linear;
}

.book__button:hover{
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.book__button:active{
    transform:scale(1.0,1.0);
    -webkit-transform:scale(1.0,1.0);
    -moz-transform:scale(1.0,1.0);
}