.experience {
    color: #fff;
    position: relative;
    margin-bottom: -5px;
}

.experience__bg{
    width: 100%;
    height: 100%;
    /*margin-top: -70px;*/
    z-index: 0;
}

.wrapper-experience {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 248px;
    /*margin: 0 auto;*/
    left: 50%;
    width: 1174px;
    margin-left: -587px;
    text-align: center;
}

.experience__logo {
    margin-bottom: 31px;
}

.experience__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 33px;
}

.experience__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 113px;
}

.experience__mouse {
}